@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    /* Palette */
    --purp: #6C43E2;
    --yell: #D4B625;
    --shaded: #272626;
    --dpurp: #662583;
    --posterblue: #3d85c6ff;
    --swiper-theme-color: #7449f6 !important;
    
 }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    color: white;
    line-height: 1.4;
    background-color: var(--purp);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}


.flex, .h-flex, .v-flex {
    display: flex;
}

.h-flex {
    flex-direction: row;
}

.v-flex {
    flex-direction: column;
}

.grid {
    display: grid;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.hover-rise {
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.hover-rise:hover {
    transform: translateY(-15px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

#navbar{
    background-color: var(--purp);
    z-index: 10;
    border-bottom: var(--yell) 4px solid;
}

.navbar p {
    font-size: 30px;
}

.navbar li {
    display: flex;
}

.navbar ul {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    height: auto;
    list-style-type: none;
}


.navbar .flex{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 26px;
}

nav a { 
    align-self: center;
    color: var(--book-yellow-dark);
    padding: 20px 20px 20px 20px;
    /* border-radius: 8px; */
    font-size: larger;
    transition: background-color .25s, box-shadow .15s;
    text-decoration: none;
}

.logo img {
    scale: 1.4;
    object-fit: cover;
  }
  
.navbar .logo b {
    font-weight: 300;
}

nav a:hover {
    background-color: var(--yell);
}


.navbar .container {
    display: none;
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
}


#navbar {
  position: sticky;
  top: 0;
}


.nav .h-flex {
    justify-content: left;
    align-items: center;
    height: 42px;
    gap: 15px;
}

.nav .nav-carrot {
    height: 50%;
}

nav #hoverBox:hover {
    cursor: pointer;
}


.dropdown-menu {
      display: none; /* Initially hidden */
      position: absolute;
      top: 100%; /* Position below the flexbox */
      left: 0;
      width: 216px;
      background-color: var(--dpurp);
      color: white;
      text-align: left;
      padding: 0;
      border-top: var(--yell) solid 4px; 
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1; /* Ensure it appears above other elements */
    }

    

    /* Show the dropdown menu on hover */
    a:hover .dropdown-menu {
      display: block;
    }

    a:hover .nav-carrot {
        transition: .25s ease;
        transform: rotate(90deg);
    }

    a:not(:hover) .nav-carrot {
        transition: .25s;
    }

    /* Styles for the dropdown items */
    .dropdown-item {
      padding: 10px 20px;
      cursor: pointer;
    }

    .dropdown-item:hover {
        background-color: var(--yell);
        transition: background-color .25s, box-shadow .15s;
    }


/* Hamburger menu icon styling */
.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}



.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}


@media (max-width: 900px) {

    
   
    .navbar .container {
        display: flex;
        height: 82px;
    }
    
    .nav p {
        padding-left: 20px;
        padding: 10px 20px 10px 20px;
    }

    .navbar {
        justify-content: space-between;
    }

    .navbar .flex{
        justify-content: left;
        padding-left: 30px;
        align-items: center;
    }

    .navbar li {
        display: contents;
    }

    

    .menu-icon {
        display: flex;
    }

    .nav {
        display: none;
        flex-direction: row;
        align-items: center;
        position: absolute;
        top: 76px; 
        left: 0px;
        background-color: var(--purp);
        z-index: 10;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-bottom: var(--yell) solid 4px;
    }

    .nav ul {
        list-style-type: none;
        flex-direction: column;
        gap: 0;
        margin: 0;
        padding: 0;
    }

    .nav a {
        margin: 0px;
        padding: 10px;
        display: block;
        width: 100vw;
    }

    

    /* Show the navigation menu when .show class is added */
    .nav.show {
        display: flex;
    }

    a .nav-carrot {
       display: none;
    }
}




/* Main Page 1 */

.mp1 {
    padding-top: 0px;
    background-color: var(--shaded);
}



.mp1 .cut-container {
    width: 800px;
    overflow: hidden
}


.mp1 .overlap-container {
    position: relative;
    width: 600px; 
    height: 600px; 
}

.mp1 .overlap-container .face-img {
    position: absolute;
    top: 40px;
    left: 100px;
    width: 540px; /* Ensure the images fit the container */
    height: 540px; /* Ensure the images fit the container */
    z-index: 2;
}

.mp1 .overlap-container .dec0 {
    object-fit: cover;
    position: absolute;
    top: -260px;
    left: -834px;
    width: 1000px;
    z-index: 1;
}


/* Higher z index */
.mp1 .overlap-container .dec1 {
    object-fit: cover;
    position: absolute;
    top: 320px;
    left: -410px;
    width: 1000px;
    z-index: 3;
}

.mp1 .overlap-container .dec2 {
    object-fit: cover;
    position: absolute;
    top: 156px;
    right: -154px;
    width: 1000px;
    z-index: 1;
}

.mp1 .main-container {
    display: flex;
    height: 649px;
    overflow: hidden;
    position: relative;
}

.mp1 #blurb1 {
    position: absolute;
    margin: 50px 100px 100px 0;    
  }
  

.mp1 .flex-container{
    display: flex;

}


.mp1 .blurb-flex {
    display: block;
    width: 500px;
    z-index: 5;
    padding: 20px;
    background-color: var(--purp);
}

.blurb-flex h1 {
    font-size: 2em
}

.blurb-flex p {
    font-size: 1em;
}

/* Swiper */

.swiper-pagination, .swiper-button-next, .swiper-button-prev {
    z-index: 3;
  }

  /* Hide all slides initially */
.swiper-slide {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Smooth transition effect */
}
  
  /* Show the active slide */
  .swiper-slide-active {
    opacity: 1;
  }
  
  /* Hide the next slide */
  .swiper-slide-next {
    opacity: 0;
  }

  .swiper-pagination-bullet-active {
    background: purple; 
  }

  .custom-button-prev, .custom-button-next {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 4;
    transition: 0.3s ease;
    &:hover {
      cursor: pointer;
    }
  }

  .custom-button-next {
    transform: rotate(180deg);
  }

  .mp1 .h-flex .swiper-container {
    width: 100%;
    background-color: #2726264f;
    border-top: var(--shaded) solid 3px;
    height: 300px;
    position: relative;
    color: white;
    margin-bottom: 0px;
    bottom: 0px;
    
}

.mp1 .custom-button-next img, .mp1 .custom-button-prev img {
    width: 60px;
    height: 100%;
}

.mp1 .proj-spotlight-head {
    position: absolute;
    width: 80%;
    height: auto;
    top: 131px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: 6px;
    color: var(--yell);

    
}



.mp1 .links-flex-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 550px; /* Set the desired width of the rectangle */
    height: 500px; /* Set the desired height of the rectangle */
    background-color: var(--yell);
    z-index: 4; 
    margin-top: 10px; /* Optional: Add margin to separate the rectangle from the flexbox */
    top: 20%; /* Position below the flexbox */
    left: 20px;

}




.mp1 .links-flex-container .h-flex{
    position: relative;
    align-items: center;

}

.mp1 .h-flex  {
    height: 300px;
    width: 100%;
}


.mp1 .h-flex .custom-button-prev {
    left: 0px;
    opacity: 30%;

    &:hover {
        opacity: 100%;
    }

    
}

.mp1 .h-flex .custom-button-next {
    right: 0px;
    opacity: 30%;

    &:hover {
        opacity: 100%;
    }
}


.mp1 .h-flex .swiper-container {
    left: 0px;
}


.mp1 .h-flex .custom-button-next, 
.mp1 .h-flex .custom-button-prev,
.mp1 .h-flex .swiper-container {
    position: absolute;    
    
}

.mp1 .links-flex {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    width: 100%;
    position: absolute;
    flex-direction: row;
    z-index: 0;
    
   
  }

  .mp1 .links-flex img {
    height: 150px;
  }

  /* Swiper Slideshow */

  .mp1 .swiper-slide .abs-container {
    position: relative;
    gap: 5px;
  }

  .abs-container .banner {
    position: absolute;
    width: 100%;
    height: fit-content;
    background-color: rgba(1, 0, 0, 0.43);
    border-top: #0D4E1D solid 3px;
    border-bottom: #0D4E1D solid 3px;
    padding: 5px 0px 5px 0px;
  }

  .swiper-slide.slide2 .abs-container .projspot-bg {
    width: 100%;
    z-index: 0;
  }

  .abs-container .banner.see-more {
    position: absolute;
    top: 260px;
    background-color: #212e6682;
    transition: background-color, color, ease 0.5s;
    color: rgba(255, 255, 255, 0.438);
    font-size: large;
    &:hover {
        background-color: #212e66c9;
        color: rgba(255, 255, 255, 0.942);
        cursor: pointer;
    }

  }

  .abs-container .see-more-btn {
    position: relative;
    font-size: large;
    border-radius: 5px;
    background-color: var(--shaded);
    padding: 5px;
    opacity: 40%;

  }

  

  

  @media (max-width: 1000px) {

    .mp1 {
        padding-bottom: 40px;
    }

    
    .mp1 .overlap-container .face-img {
        position: relative;
        top: -80px;
        left: 0px;
        /* width: 300px; 
        height: 300px;  */
        z-index: 2;
    }

    .mp1 .overlap-container {
        display: flex;
        width: auto;
        height: 800px;
        align-items: center;

    }

    .dec0, .dec1, .dec2 {
       display: none;
    }

    .mp1 .overlap-container .face-img {
        justify-self: center;
        position: relative;
        z-index: 2;
    }
    

    .mp1 .main-container {
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        height: 1000px;
        gap: 0;
    } 
   
    

    .mp1 .links-flex-container {
        left: 0px;
        border-radius: 10px;
        width: 500px; /* Set the desired width of the rectangle */
        height: 400px;
        top: 150px;

    }

    

    .mp1 .blurb-flex {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 5%;
    }


    .blurb-flex h1, .blurb-flex p {
        text-align: center;
    }

    .mp1 .overlap-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 15px;
    }

    .mp1 .overlap-container .item {
        position: relative;
    }

    .mp1 .custom-button-next, .mp1 .custom-button-prev {
        display: none;
    }

    /* .mp1 .overlap-container .item.flex {
        align-items: center;

    } */
    

    #blurb1 {
        display: flex;
        position: relative !important;
        margin: 0 !important;
        left: 0;
              
    }

    .mp1 .proj-spotlight-head {
        height: auto;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        margin: 6px;
        color: var(--yell);
    
        
    }
  
  }

  @media (max-width: 600px) {

    .mp1 .flex-container {
        flex-direction: column;
    }

    .mp1 .blurb-flex {
        width: 100vw;
    }

    .mp1 .links-flex-container {
        position: relative;
        left: 0px;
        border-radius: 10px;
        width: 100vw; /* Set the desired width of the rectangle */
        height: 400px;
        top: -40px;

    }

  }


/* Main Page 2 */

.mp2 {
    z-index: 4;
    background-color: var(--shaded);
}


/* Project Preview Page */


.projects-intro {
    background-color: var(--shaded);
    padding: 20px 0px 20px 0px;
}

.projects-intro .flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-intro h1 {
    font-size: 3em;
}

.projects-intro sub {
    font-size: 1.4em;
    text-align: center;
    padding-top: 5px;
    max-width: 50%;
}



.projects-section {
    height: 4000px;
    background: linear-gradient(to bottom, var(--shaded), rgb(2, 2, 128), var(--purp));
}

.space-container {
    display: flex;
    height: inherit;
    width: inherit;
    grid-template-columns: 1;
    justify-content: center;
    align-items: center;
    position: relative;
}

.space-flex {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.ufo-flex-1 {
    top: 60px;
}

.ufo-flex-2 {
    top: 300px; 
    left: 80%;

}

.ufo-flex-3 {
    top: 700px;

}

.ufo-flex-4 {
    top: 1100px;
    left: 74%;

}

.space-container img {
    transform: translateX(-50%);
}


.space-flex img:hover {
    cursor: pointer;
}



/* Eclipse Page */

.p23 {
    font-size: 23px;
}

.p23 .nav .dropdown-item{
    font-size: 19.2px;
}



.autorec-heading {
    background-color: black;
    background-image: url(/Assets/proj-page/bg_stars.png);
    border-bottom: goldenrod solid 4px;
}

.autorec-heading .container {
    position: relative;
    left: 5%;
    display: flex;
    align-items: center;
}

.autorec-heading .flex {
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, transparent, black, black, black, transparent); /* Gradient from black to transparent */
    height: 200px;
    width: 600px;
    z-index: 1;
}

.autorec-heading .flex .cool-title {
    position: relative;
    height: fit-content;
    width: auto;

}

.autorec-heading .flex .cool-title::before {
    content: "";
    display: block;
    width: 50px; /* Adjust the width of the rectangle */
    height: 100px; /* Adjust the height of the rectangle */
    background-color: #333; /* Color of the rectangle */
    position: absolute;
    left: -70px; /* Adjust the position to create space between rectangle and image */
    top: 50%;
    transform: translateY(-50%);
}


.autorec-heading h1 {
    position: absolute;
    font-size: 2.2em;
    font-weight: 400;
    text-align: center;
    height: 100px;
}

.autorec-heading #moveR {
    position: absolute;
    height: 100px;
    width: auto;
    left: 400px;
    z-index: 0;
}

.autorec-body-h .white-cont {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.672);
    background-image: url(/Assets/proj-page/bg_stars.png);
    padding: 15px 0px 15px 0px;

}

.autorec-body-h .h-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.autorec-body-h .h-flex h1 {
    font-size: 4em;
    font-weight: 400;
    color: white;
}


.autorec-body-1 .flex {
    padding-top: 0px;
}


.autorec-body-1 p {
    text-align: center;
}

.autorec-body-1 a {
    color: pink;
    text-decoration: underline;
    &:hover {
        color: rgb(252, 213, 219);
    }
}

.autorec-body-1 .words-container {
    display: flex;
    flex-direction: column;
    margin: 20px 40px 20px 20px;
    width: 550px;
}

.autorec-body-1 .flex {
    justify-content: space-between;

}



.autorec-body-1 .img-cont {
    position: relative;
    display: flex;
    width: 60vw;
    z-index: 2;
}

.autorec-body-1 .img-cont::after {
    content: '';
    position: absolute;
    top: 0;
    left: 8px;
    height: 100%;
    width: 100%;
    z-index: 1;
    
   
    background: linear-gradient(to bottom, var(--yell), var(--dpurp) );
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
    pointer-events: none; /* Ensure the border does not interfere with interaction */

}




.autorec-body-1 .clip-diagonal {
    width: 100%; /* Set the height of the image */
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
    object-fit: cover; /* Ensure the image covers the entire clipping path */
    z-index: 2;

}


.autorec-poster-sec {
    background-color:var(--posterblue);
    border-top: var(--dpurp) solid 5px;
}



.autorec-poster-sec .v-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.autorec-poster-sec .v-flex sub {
    font-size: 1.5em;
    padding: 15px;
}

.autorec-poster-sec .v-flex sub:hover {
    cursor: pointer;
    text-decoration: underline;
    color: wheat;
}


.autorec-poster-sec h1 {
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.autorec-poster-sec p {
    text-align: center;
}

.autorec-poster-sec .words-container {
    margin: 20px 100px 30px 100px;
    display: flex;
    width: 1fr;
}

.autorec-body-2 {
    background-image: url(/Assets/proj-page/bg_stars.png);
    border-top: var(--shaded) solid 5px;
    background-size: cover;
    background-repeat: no-repeat;


}

.autorec-body-2 .h-flex {
    justify-content: center;
}

.autorec-body-2 .grid {
    width: 80%;
    padding-top: 0px;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(229, 226, 226, 0.395);
    border-left: var(--shaded) solid 5px;
    border-right: var(--shaded) solid 5px;
    
}

.autorec-body-2 .header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.autorec-body-2 h1 {
    font-size: 40px;
    font-weight: 600;
}

.autorec-body-2 .header .flex {
    width: 350px;
    height: 100px;
    margin: 20px;
    background-color: #d4b72580;
    border: var(--shaded) solid 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}




.autorec-body-2 p {
    text-align: center;
}




.autorec-body-2 .img-cont {
    display: flex;
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
    background-position-x: 40%
}



.autorec-body-2 .clip-diagonal {
    width: 100%; /* Set the height of the image */
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
    object-fit: cover; /* Ensure the image covers the entire clipping path */

}



.autorec-body-2 .words-container {
    padding-top: 40px;
    margin-left: 70px;
    display: flex;
    width: 80%;
    align-items: end;    

}

.autorec-body-2 p {
    text-align: center;
}


#pl-bg {
    background-image: url(/Assets/proj-page/recovery-bay-pic.png);
   background-size: 150%;
   background-position-y: inherit;
}


.autorec-body-3 {
    background-color: var(--shaded);
}

.autorec-body-3 .h-flex {
    justify-content: center;
    align-items: center;

}

.autorec-body-3 .words-container {
    padding: 40px;
}

.autorec-body-3 .video-cont {
    padding: 40px;
}

.autorec-body-3 .video-cont iframe {
    border: #D4B625 solid 4px;
}


@media (max-width: 1100px) {

    .autorec-body-3 .h-flex .words-container p {
        text-align: center;
    }

    .autorec-body-3 .video-cont iframe{
        width: 90vw;
    }

    .autorec-body-3 .h-flex {
        flex-direction: column;
    }
}


@media (max-width: 900px) {

    .autorec-body-h {
        display: none;
    }

    .autorec-heading .container .flex {
        width: 100vw;
    }

    .autorec-heading .container {
        left: 0%;
    }

    .autorec-body-1 .flex {
        flex-direction: column;
        align-items: center;
    }

    .autorec-body-1 .clip-diagonal {
        clip-path: none;
    }

    .autorec-body-1 .words-container {
        width: 80vw;
    }

    .autorec-body-1 .img-cont {
        margin-top: 20px;
        border: #D4B625 solid 4px;
    }

    .autorec-body-2 .grid {
        grid-template-columns: 1fr;
    }

    .autorec-body-2 .h-flex .img-cont {
        display: none;
    }

    .autorec-body-2 .words-container {
        padding-top: 40px;
        margin-left: 0px;
        display: flex;
        width: 100%;
        align-items: center;  
        justify-content: center;  
    
    }

    .autorec-body-2 .words-container p {
        padding: 0px 30px 0px 30px; 
    
    }

    

}






/* POPUPS */
.popup {
    position: fixed;
    visibility: hidden;
    overflow-y: hidden;  /* Maybe give everything else an id that prevents scrolling rather than just disabling overflow on body */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: white;
  }
  
  .popup-container {
    margin: 0;
    padding: 0;
  }
  
  .open-popup {
    visibility: visible;
  }
  
  .popup .cs-bg {
    top: 10px;
    bottom: 30px;
    right: 40px;
    left: 40px;
    position: absolute; 
    overflow-y: hidden;
    padding: 10px;
    background-color: white;
    border: solid 5px var(--strong-1);
    border-radius: 5px;
    color: black;
  }
  
  .popup .flex {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1000;
  }
  
  .popup h4 {
    font-size: 2em;
    text-align: center;
    margin-top: -45px
  }
  
  .popup p {
    text-align: center;
    margin: 20px;
    
  }
  
  #pop-close-btn {
    z-index: 100;
  }
  
  
  .pdf-emb .item {
    width: 1000px;
    height: 100%;
    margin: 0px 0px 0px 0px;
  }
  
  .pdf-emb {
    display: flex;
    width: 100%;
    height: 90%;
    border: var(--posterblue) solid 3px;
    overflow: scroll;
  }


  .x-button{
    display: flex;
    justify-content: right;
    padding-bottom: 10px;

  }
  
  .x-button button {
    border: none;
    background: none;
    margin-top: 10px;
    margin-right: 10px;
    &:hover {
      cursor: pointer;
    }
  }
  
  .x-button img{
    width: 25px;
    height: 25px;
    border: none;
  }




/* Working Together */


.wt-1 {
    background-color: white;
}


.wt-1 .h-flex .item {
    flex: 1 0;
    display: flex;
    justify-content: center;
}


.wt-1 .h-flex {
    justify-content: center;
    align-items: center;
}

.wt-1 .flex {
    flex-direction: column;
    gap: 5px;
}

.wt-1 h1, .wt-1 p {
    color: black;
}

.wt-1 h1 {
    font-size: 2em;
}

.wt-1 .wt-intro {
    padding-right: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.wt-1 a {
    color: green;
    text-decoration: underline;
    &:hover {
        color: lightseagreen;
    }
}

@media (max-width: 900px) {
    .wt-1 .h-flex {
        flex-direction: column;
        justify-content: center;
    }

    .wt-1 .wt-intro {
        padding-right: 20px;
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
    } 

    .wt-1 {
        text-align: center;
    }

    

    
}

.wt-demo .title-flex {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-flex {
    padding: 20px;
}

.title-flex a {
    color: lightgreen;
    text-decoration: underline;
    &:hover {
        color: lightseagreen;
    }
}

.title-flex h1 {
    font-size: 3em;
}

.title-flex sub {
    font-size: 1.2em;
}

.wt-demo .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wt-demo .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--yell) solid 4px;
    width: 90%;
}


/* Loewenstern Page */


.loewenstern-intro {
    position: relative;
    padding-top: 30px;
    z-index: 0;
    font-size: small;
    background-color: #0D4E1D;
}

.loewenstern-intro .h-flex {
    flex: 1 0 50%;
    justify-content: center;
}

.loewenstern-intro .logo-cont {
    display: flex;
    width: 100%;

}

.loew-intro-text h1{
    text-align: center;
}

.loew-intro-text em {
    color: lightpink;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
}




.loewenstern-intro .h-flex .v-flex {
    padding: 0px 40px 0px 40px;
    gap: 20px;
    flex-grow: 1;
    
}





.loew-intro-text .content {
    width: 90vw;
    padding: 40px;

}

.loewenstern-intro .banner {
    position: relative;
    background-color: rgba(255, 255, 255, 0.687);
    border-top: #272626 solid 4px;
    border-bottom: #272626 solid 4px;
    width: 100vw;
    height: 100%;
    padding: 40px 5vw 40px 5vw;
    z-index: 2;
    gap: 20px;
}

.loewenstern-intro .banner img {
    width: 50%;
}
.loewenstern-intro .banner .x-mark {
    font-weight: bold;
    font-size: 4em;
    background: linear-gradient(to right, #212E66, #f22020);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.loewenstern-intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('Assets/loew-page/brazil-flag.png') no-repeat center center;
    background-size: cover; /* Cover the entire section */
    z-index: 0; /* Ensure it's behind the content */
    filter: brightness(35%); /* Optional brightness effect */
  }

  .loewenstern-intro .loew-flex-2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
  }

  .loewenstern-intro .img-cont {
    display: flex;
    flex-grow: 1;
    width: 60%;
    justify-content: center;
    align-items: center;
  }

  .loewenstern-intro .img-cont img {
    width: 100%;
    height: auto;
    border: var(--yell) solid 4px;

  }

  .loew-flex-2 h3 {
    font-size: 2vw;
    text-align: center;
    color: #e5ebaf;
  }

  .loew-flex-2 .blog-flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    background-color: #f0a9956c;
    border: #f0a995f0 solid 5px ;
    border-radius: 10px;
    padding: 10px;
    flex-grow: 1;
  }

  .blog-flex .blog-btn {
    padding: 20px;
    font-size: large;
    border-radius: 30px;
    background: linear-gradient(to right, var(--yell), #f0a995f0);
    border: white solid 2px;
    color: var(--shaded);
    transition: 0.3s ease; /* Smooth transition for hover effect */
    &:hover {
        cursor: pointer;
        background: linear-gradient(to left, var(--yell), #f0a995f0);;
        transform: scale(1.05); 
    }
  }

  .content {
    position: relative;
    color: white;
    font-size: 2em; /* Adjust as necessary */
    text-align: left;
    padding: 20px;

  }

  .loew-neuro {
    background-color: white;
    color: var(--shaded);
    padding: 20px 5% 20px 5%;
  }

  .loew-neuro h1 {
    padding-bottom: 20px;
  }

  .loew-neuro a {
    color: lightcoral;
    text-decoration: underline;
  }

  .loew-eco {
    background-color: darkcyan;
    padding: 20px 5% 20px 5%;
  }

  .loew-eco a {
    color: pink;
    text-decoration: underline;
  }

  .loew-eco h1 {
    font-size: 2em;
    padding-bottom: 20px;
    text-align: left;
  }

  .loew-eco .v-flex {
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .loew-eco .video-cont {
    width: 80vw;
    height: 40vw;
    border: var(--shaded) solid 5px;
  }

  .loew-eco h2 {
    font-weight: 400;
    font-size: 1.3em;
  }

  .loew-logos {
    background-color: rgba(255, 255, 255, 0.432);
  }



.loew-logos .h-flex img {
    object-fit: cover;
}


  @media (max-width: 1080px) {

    .loewenstern-intro .loew-flex-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .loew-flex-2 h3{
        font-size: larger;
    }

    .loewenstern-intro .loew-flex-2 .img-cont {
        width: auto;
    }

    .loew-flex-2 .v-flex {
        justify-content: center;
        align-items: center;
    }

  }

  @media (max-width: 900px) {
    

    .loewenstern-intro .content  {
        padding: 0px 0px 40px 0px;
    }
    .loewenstern-intro .loew-intro-text p {
        text-align: center;
    }

    .loew-neuro .h-flex {
        flex-direction: column;
        align-items: center;
    }

    .loewenstern-intro .h-flex.banner {
        flex-direction: column;
        gap: 0px;
    }

    .loew-neuro {
        text-align: center;
    }

    .loew-eco {
        text-align: center;
        justify-content: center;   
 }

 .loew-eco h1 {
    text-align: center;
 }

    


  }


/*  */

  





  

  



/* Resume */

.resume-head .v-flex {
    align-items: center;
}

.resume-head h1 {
    font-size: 40px;
    padding: 10px 10px 0px 10px;
}


.resume-head sub {
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

.resume-head button {
    border-radius: 5px;
    background-color: rgba(48, 48, 48, 0.832);
    color: white;
    margin-bottom: 10px;
    border: rgba(218, 165, 32, 0.631) solid 3px;
    transition: transform 0.3s ease, background-color 0.1s ease-in;; 
    &:hover {
        cursor: pointer;
        background-color: var(--yell);
        transform: scale(1.05); 
    }
}


.resume-head button .flex {
    justify-content: center;
    padding-top: 10px;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    padding: 5px;

}

.resume-head button .flex img {
    height: 20px;
}

.resume-head .iframe-wrapper {
    position: relative;
    width: 840px;
    height: 1056px;
    /* Padding-top is set to maintain the aspect ratio (e.g., 16:9 aspect ratio is 56.25% padding-top) */
    overflow: hidden;
  }

.resume-head .iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
    overflow: hidden;
  }

  .resume-head .iframe-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    right: auto;
    height: 99.5%;
    width: 99%;
    background: linear-gradient(to bottom right, var(--yell),  rgb(0, 105, 0), rgb(2, 2, 154), rgb(0, 105, 0), blue);
    z-index: -1;
  }

  

@media (max-width: 900px) {
    .resume-head .iframe-wrapper {
        position: relative;
        width: 90vw;
        height: calc(90vw * 1.257); /* Aspect ratio of 840:1056 */
        overflow: hidden;
      }
    
}

.resume-head {

}

/* Footer */

footer {
    background-color: var(--purp);
    text-align: center;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.footer-flex p {
    font-size: 25px;
}


/* Extra Stuff */


.coming-soon .container {
    position: relative;
}

.coming-soon {
    position: relative;
    right: 50%;
    transform: translate(50%, 0);
    text-align: center;
    font-size: 70px;
    margin-top: 10vh;
    margin-bottom: 30vh;
}

.hide {
    display: none;
}





/* Rainbow stuff */

.rainbow-box {
    box-sizing: content-box;
    background-color: rgba(39, 9, 9, 0.878);
    border: 3px solid transparent;
    animation: glow1 3s linear infinite;
    
}





@keyframes glow1 {
    0% {
        box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
        border-color: rgba(255, 0, 0, 1);
    }
    14% {
        box-shadow: 0 0 20px rgba(255, 165, 0, 0.5);
        border-color: rgba(255, 165, 0, 1);
    }
    28% {
        box-shadow: 0 0 20px rgba(255, 255, 0, 0.5);
        border-color: rgba(255, 255, 0, 1);
    }
    42% {
        box-shadow: 0 0 20px rgba(0, 128, 0, 0.5);
        border-color: rgba(0, 128, 0, 1);
    }
    57% {
        box-shadow: 0 0 20px rgba(0, 0, 255, 0.5);
        border-color: rgba(0, 0, 255, 1);
    }
    71% {
        box-shadow: 0 0 20px rgba(75, 0, 130, 0.5);
        border-color: rgba(75, 0, 130, 1);
    }
    85% {
        box-shadow: 0 0 20px rgba(238, 130, 238, 0.5);
        border-color: rgba(238, 130, 238, 1);
    }
    100% {
        box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
        border-color: rgba(255, 0, 0, 1);
    }
}

@keyframes glow2 {
    0% {
        box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
        border-color: rgba(255, 0, 0, 0.5);
    }
    14% {
        box-shadow: 0 0 20px rgba(255, 165, 0, 0.5);
        border-color: rgba(255, 165, 0, 0.5);
    }
    28% {
        box-shadow: 0 0 20px rgba(255, 255, 0, 0.5);
        border-color: rgba(255, 255, 0, 0.5);
    }
    42% {
        box-shadow: 0 0 20px rgba(0, 128, 0, 0.5);
        border-color: rgba(0, 128, 0, 0.5);
    }
    57% {
        box-shadow: 0 0 20px rgba(0, 0, 255, 0.5);
        border-color: rgba(0, 0, 255, 0.5);
    }
    71% {
        box-shadow: 0 0 20px rgba(75, 0, 130, 0.5);
        border-color: rgba(75, 0, 130, 0.5);
    }
    85% {
        box-shadow: 0 0 20px rgba(238, 130, 238, 0.5);
        border-color: rgba(238, 130, 238, 0.5);
    }
    100% {
        box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
        border-color: rgba(255, 0, 0, 0.5);
    }
}
























/* OLD STUFF */


/* .projects-intro-old {
    background-color: var(--shaded);
    border-bottom: 4px solid palevioletred;
    padding-top: 10px;
    padding-bottom: 10px;
}

.projects-intro-old .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects-intro-old h1 {
    font-size: 2em;
    text-align: center;
}

.projects-intro-old hr {
    width: 40%;
    margin: 10px auto; 
    border: 0.3px solid whitesmoke; 
}

.projects-intro-old sub {
    font-weight: 400;
    text-align: center;
    font-size: 1.2em;
}

.project-preview {
    background-color: white;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.proj1 {
    background-color: #D4B625;
    height: 800px;
}

.proj1 .proj-title-container {
    display: flex;
    width: 400px;
    height: 130px;
    position: relative;
    justify-content: center;
    z-index: 0;
    margin-bottom: 40px;
}

.proj1 .proj-title-container img {
    position: absolute;
    z-index: 0;
    top: 0px;
    width: 100%;
    height: 100%;
}

.proj1 .proj-title-container h1 {
    z-index: 1;
    font-size: 2.2em;
    font-weight: 600;
    text-align: center;
}

.proj1 .projp-flex {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}


.proj-body-container {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center; 
    width: 80%;
}

.proj-body-flex {
    display: flex;
    position: absolute;
    border: 5px solid transparent;
    left: 200px;
    background-color: var(--shaded);
    flex-direction: column;
    
    padding: 30px;
    gap: 30px;
    z-index: 2;
    
}

.proj-body-container .projp-img1 {
    position: absolute;
    left: 20px;
    margin: 30px;
    top: -20px;
}

.proj-body-flex p  {
    font-size: 1.5em;
    text-align: center;
}

.learn-more-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    align-self: right;
}

.learn-more-flex img {
    height: 30px;
}



.pgrid-container {
    position: relative;
     
}

.pgrid-container .proj-div {
    display: flex;
    position: absolute;
    top: 0px;
    right: 40%;
    height: 800px;
    width: 200px;
    z-index: 3;
}

.pgrid-container .proj-div img {
    width: 100%;
}





.proj2 {
    background-color: #662583;
}

 */
